
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype'),
        url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
}

body{font-family: 'Roboto-Regular';}
body.home{background: url('../images/patter.png'); background-repeat: repeat;}
h2{ font-size: 40px; font-family: 'Roboto-Light'; margin: 0;}
h4{ font-size: 24px; font-family: 'Roboto-Light'; font-weight: normal; margin: 0; color: #484848;}
input,input[type="text"],input[type="password"],input[type="email"],input[type="tel"],input[type="number"]{
    box-shadow: none;
    -webkit-appearance: none;
}

/* Top Section Start*/

.not_editable:hover {
    background-color: #f5f5f5;
    color: #aaaaaa;
}
.header{ padding: 30px 0; background: transparent; position: fixed; width: 100%; z-index: 111;}
.home .header{position: relative;background: #f2f5f9;}
header.header.fixed {    background: #fff;    padding: 15px 0 10px;}
.logo { display: inline-block;    width: 21.4%;    text-align: center;    padding: 10px 0;}
.logo img{ margin: auto;}
.nav_manu {   display: inline-block;     width: 55%;    margin-left: 5px; vertical-align: top;    padding: 2px 0;}
.navbar-inverse {    background-color: transparent;    border-color: transparent;    border: 0;    margin: 0;}
.navbar-header{ float: none;}
#navbar ul {    list-style: none;    padding: 0;    margin: 0;}
#navbar ul li{ display: inline-block;}
#navbar ul li a{ color: #414040; font-size: 18px; text-decoration: none; padding: 13px 16px; border-radius: 25px; display: inline-block;}
#navbar ul li.active a, #navbar ul li a:hover{ color: #fff; background: #03b4d7; box-shadow: 0px 3px 12px rgba(3,180,215,0.5);}
.login_home{ display: inline-block; vertical-align: top;    padding: 2px 0;     text-align: center; width: 21.6%; z-index:1000;}
.login_home ul {    list-style: none;    padding: 0;    margin: 0;}
.login_home ul li{ display: inline-block;}
.login_home ul li a{ color: #414040; font-size: 18px; text-decoration: none; padding: 13px 25px; border-radius: 25px; display: inline-block; margin-right: 6px;vertical-align: middle;}
.login_home ul li:last-child a{margin-right: 0;}
.login_home ul li.blue_bg a{ color: #fff; background: #03b4d7; box-shadow: 0px 3px 12px rgba(3,180,215,0.5);}
.mobile_icon{ display: none;}
.login_home_mobile{ display: none;}

.top_section{ position: relative; }
.top_section_main{ position: relative; background: url('../images/home_banner.png'); background-repeat: no-repeat; background-size: 100% auto; height: 100%;}
.top_contant {    position: relative;    bottom: 2px; width: 100%;}
#typed {    color: #707070;    font-size: 60px;    text-align: center; font-family: 'Roboto-Light';}
.wrap{ text-align: center; padding-bottom: 60px;}
select{
    outline: none;-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;box-shadow: none;;
}
/* Top Section End*/


.text_editor {    background: #fff;    padding: 35px 70px 0; position: relative;}
.text_editor .mce-panel{ background: #fff;     border: 0;     }
.text_editor .mce-btn button{ background: #fff; border: 0; }
.text_editor .mce-btn-group .mce-btn{ border: 0;     background: #fff;}
#mceu_20, #mceu_21,#mceu_27{ display: none;}
.main_editor {  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);}
.text_editor .mce-toolbar-grp{ border-bottom: 1px solid #fec52c; padding-bottom: 25px;}
.used_word {    position: absolute;    right: 85px;    z-index: 1;    padding-top: 8px;}
.used_word span{ color: #646464; font-size: 16px; font-family: 'Roboto-Light'; display: inline-block;     vertical-align: middle;}
.used_word span.count{ color: #000000; font-size: 18px; font-family: 'Roboto-Regular';}
.used_word span:not(:first-child) { margin-left: 10px;}
.submit_area{ background: #f2f6f9; padding: 20px; text-align: center;}
.submit_area p{ font-size: 16px; font-family: 'Roboto-Light'; color: #8a8a8a;}
.btn_sky,.btn_sky:hover{border: 0; color: #fff; background: #03b4d7; font-size: 18px; box-shadow: 0px 3px 12px rgba(3,180,215,0.5); padding: 13px 25px; border-radius: 25px; text-decoration: none;}
.btn_sky:focus{outline: none; color: #fff;}
.btn_blue {    display: inline-block;    padding: 15px;}
.become_main .btn_sky, .become_main .btn_sky:hover{font-size: 32px; display: inline-block; }

.instant{background: url('../images/patter.png'); background-repeat: repeat;}
.instant_main{background: url('../images/instant_bg.png'); background-repeat: no-repeat; height: 100%; position: relative;    background-position: center bottom; background-size: 100% 100%;}
.instant_video {    width: 67%;    height: 72%;    background: url(../images/laptop.png);    background-repeat: no-repeat;    background-size: 100% 100%;    position: absolute;    padding: 2.5% 11.5% 5.5%; left: -10.6%;    bottom: 0;}
.instant_video iframe{ height: 100%; width: 100%; border: 0;}
.instant_block { padding-top: 98%;}
.instant_title {    padding-bottom: 27px;}
.instant_title h2{ color: #484848;     line-height: 47px;}
.instant_txt p{ font-size: 16px; color: #666666; margin: 0; line-height: 24px;}


.highlight{ background: #03b4d7;}
.highlight .fp-tableCell{ vertical-align: bottom;}
.highlight_main{ position: relative; text-align: center;}
.highlight_title {    padding-bottom: 20px; width: 44%; margin: auto;}
.highlight_title h2{ color: #fff;     line-height: 47px;}
.highlight_txt {  width: 44%;    margin: auto;    margin-bottom: 70px;}
.highlight_txt p{ font-size: 16px; color: #fff; margin: 0; line-height: 24px;}

.detection{background: #f6c800; position: relative; }
.detection_main{background: #f8ca00 url(../images/detection_bg.png); background-repeat: no-repeat; height: 100%; position: relative;    background-position: center bottom;}
.detection_img {    position: absolute;    right: 0;    bottom: 26px;}
.detection_block { padding-top: 65%;}
.detection_title {    padding-bottom: 20px;}
.detection_title h2{ color: #484848;     line-height: 47px;}
.detection_txt p{ font-size: 16px; color: #666666; margin: 0; line-height: 24px;}



.home_proofreader{ background: url('../images/patter.png'); background-repeat: repeat; vertical-align: top;    overflow: visible}
/*.home_proofreader_main{ padding: 107px 0 67px; background: url(../images/shadoe.png) no-repeat;       background-position: top center;    background-size: 100%; text-align: center;}*/
.home_proofreader_main{ padding: 107px 0 67px; text-align: center;}
.detection:after{
    content: '';
    background: url(../images/shadoe.png) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 57px;
    position: absolute;
    bottom: -50px;
    z-index: 11;
    left: 0;
}
.home_proofreader .fp-tableCell{ vertical-align: top; }
.home_proofreader_title {    padding-bottom: 22px;}
.home_proofreader_title h2{ color: #484848;}
.home_proofreader_text p{ font-size: 16px; color: #666666; margin: 0; line-height: 24px;}

.wpb_content_element.display_img{ width: 105px; height: 105px;margin: 0 auto 33px !important;}
.display_img.display1 {   background-position: 0 0; }
.home_proofreader_display {    padding: 108px 0 50px;}
.display_title{    padding-bottom: 15px;}
.display_text p{font-size: 16px; color: #666666; margin: 0;  word-break: break-word;}
.display_img.display2 {    background-position: -377px 0;    width: 125px;}
.display_img.display3 {   background-position: -780px 0;    }
.home_proofreader_display .btn_blue{ padding-top: 56px;}



.footer_top{ padding: 74px 0 40px;}
.footer_title h4{ color: #9a9a9a;}
.footer_title h4:after {    display: block;    content: '';    width: 44px;    height: 2px;    background: #434343;     margin-top: 8px;}
.footer_text {    padding-top: 31px;    line-height: 20px;}
.footer_text p{ font-size: 16px; color: #9a9a9a; font-family: 'Roboto-Light';}
.footer_text a{ text-decoration: none; font-size: 16px; color: #9a9a9a;     margin-top: 7px;    display: inline-block;}
.last_section{ height: 100%; overflow: auto;}
.footer_link{    padding-top: 31px;}
.footer_link ul{ padding: 0; margin: 0; list-style: none;}
.footer_link ul li{    padding-bottom: 16px;}
.footer_link ul li a{font-size: 16px; color: #9a9a9a; font-family: 'Roboto-Light'; text-decoration: none; line-height: 20px;}
.footer_social_link{padding-top: 25px;}
.footer_social_link ul{ padding: 0; margin: 0; list-style: none;}
.footer_social_link ul li{    display: inline-block; width: 45px; height: 45px; background: url('../images/social_icon.png'); background-repeat: no-repeat;     margin-right: 11px;}
.footer_social_link ul li a{ text-decoration: none;  width: 45px; height: 45px; display: block;}
.footer_social_link ul li.instragram{}
.footer_social_link ul li.fb{ background-position: -58px 0;}
.footer_social_link ul li.twiiter{background-position: -118px 0;}
.footer_social_link ul li.pinrent{background-position: -178px 0;}
.footer_bottom{background: #222222; padding: 20px 0; border-top: 1px solid #3b3b3b;}
.footer_bottom p{font-size: 16px; color: #9a9a9a; font-family: 'Roboto-Light';  margin: 0; text-align: center; }

#wptime-plugin-preloader{ position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: url(../images/39.gif) no-repeat rgba(0, 0, 0, 0.5) 50%;-moz-background-size:64px 64px;-o-background-size:64px 64px;-webkit-background-size:64px 64px;background-size:64px 64px;z-index: 99998;width:100%; height:100%;}

.breadcum{ width: 100%; background: url('../images/breadcum.png'); background-repeat: no-repeat; background-size: 100% 100%; padding-top: 8.4%;    padding-bottom: 3.5%; }
.breadcum h1, .breadcum h2{ font-size: 34px; color: #03b4d7; font-family: 'Roboto-Light'; text-align: center;}



.become_main{ padding-bottom: 40px; position: relative; background: #ffffff; background: -moz-linear-gradient(top,  #ffffff 0%, #e4e4e4 100%); background: -webkit-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%); background: linear-gradient(to bottom,  #ffffff 0%,#e4e4e4 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );}
.become_main_top{text-align: center; padding-top: 110px;}
.become_main_top_title{     margin-bottom: 32px;}
.become_main_top_title h2{color: #484848; font-family: 'Roboto-Light'; line-height: 45px;}
.become_main_top_txt{}
.become_main_top_txt p{font-size: 16px; color: #666666;}

.become_slider_img {    width: 52.5%;    display: inline-block;    padding-left: 6.3%;}
.flexslider{ border: 0; background: transparent; margin: 0;}
.become_slider {    padding-top: 175px;}
div#become {   background: url(../images/become_slider_bg1.png);    background-size: 100% 100%;    background-repeat: no-repeat;   padding: 1.8% 0 12%}
.become_main_block {    display: inline-block;    width: 47%;    vertical-align: top;}
.become_main_inner_block {  width: 60%;    padding-left: 61px;    margin-top: -2px;}
.become_main_inner_block .become_main_top_txt p{    line-height: 24px;         margin-top: -4px;}
.become_main_inner_block .become_main_top_txt{    width: 75%;}
.flex-control-paging li{ height: 8px;}
.flex-control-paging li a{ width: 40px;  border-radius: 0; background: transparent;  border-bottom: 4px solid #c0c0c0; box-shadow: none; -webkit-box-shadow: none;}
.flex-control-paging li a.flex-active,.flex-control-paging li a:hover{ background: transparent; border-bottom:  8px solid #03b4d7;}
.flex-control-nav {    width: auto;    position: absolute;    bottom: auto;    text-align: center;   padding-left: 55.7%;   top: 50.5%;     z-index: 11;}
.horse_img {  position: absolute;    right: 0;    bottom: 135px;}
.become_main .btn_blue { 
    width: 100%;
    text-align: center;
    position: relative;
    bottom: auto;
    background-color: #f3f3f3;
    margin-top: -1px;
    padding-bottom: 25px;
}



.about_sticky{ border-bottom: 2px solid #e9e9e9; }
.about_sticky ul{ padding: 0; margin: 0; list-style: none; text-align: center;}
.about_sticky ul li{ display: inline-block;     padding: 12px 0; margin: 0 28px -2px;  border-bottom: 2px solid transparent;}
.about_sticky ul li a{ color: #8c8c8c; font-size: 24px; text-decoration: none; font-family: 'Roboto-Light'; }
.about_sticky ul li a:hover ,.about_sticky ul li.active a{ color: #03b4d7;  }
.about_sticky ul li:hover ,.about_sticky ul li.active { color: #03b4d7;     border-bottom: 2px solid #03b4d7;    }

.about_writesaver{ padding: 146px 0;}
.about_writesaver_video iframe{ border:0;  width: 610px; height: 345px; box-shadow: 0px 8px 49px rgba(0,0,0,0.7);}
.about_writesaver_video {    text-align: center; }
.about_whitesaver_title{     margin-bottom: 32px;}
.about_whitesaver_title h2{color: #484848; font-family: 'Roboto-Light'; line-height: 45px;}
.about_whitesaver_txt{}
.about_whitesaver_txt p{font-size: 16px; color: #666666; font-family: 'Roboto-Light';}
.about_whitesaver_txt p:last-child{ margin: 0;}
.about_writesaver_block{ position: relative; height: 345px;}
.about_writesaver_contant{ position: absolute; bottom:0;}


.about_proofreader .home_proofreader_main{background: url(../images/patter1.png);    background-repeat: repeat;}

.about_faq{ padding: 110px 0 90px; background: #ebf0f4; position: relative;}
.about_faq_contant{ text-align: center; padding-bottom: 85px;}
.about_faq_title{     margin-bottom: 23px;}
.about_faq_title h2{color: #484848; font-family: 'Roboto-Light'; line-height: 45px;}
.about_faq_txt p{font-size: 16px; color: #666666; font-family: 'Roboto-Light';}
#accordion h3 span{ }
#accordion h3 { border: 1px solid #dde2e6;; background: #fff; padding: 20px 30px 20px 20px; border-radius: 0; font-size: 18px; color: #484848; font-family: 'Roboto-Light'; outline: none;   margin: 10px 0 0 0;}
#accordion p{ font-size: 16px; color: #777777; font-family: 'Roboto-Light';}
.ui-accordion-content{ background: #f8f8f8; padding: 20px; }
.ui-icon, .ui-widget-content .ui-icon{ background:url(../images/plus_minus_sign.png); }
.ui-icon {    width: 23px;    height: 23px;}
.ui-state-active .ui-icon, .ui-button:active .ui-icon,.ui-state-active.ui-state-focus .ui-icon {background:url(../images/plus_minus_sign.png);     background-position: 0px -28px}
.ui-accordion-header.ui-state-active:hover .ui-icon{ background:url(../images/plus_minus_sign.png);     background-position: 0px -28px}
.ui-accordion-header:hover .ui-icon, .ui-state-focus .ui-icon{ background:url(../images/plus_minus_sign.png);     background-position: 0px 0px;}
#accordion h3 span {    position: absolute;    right: 20px;     right: 11px;    top: 24px;}
.ui-accordion .ui-accordion-content{ padding: 20px;}


.how_we_work{ padding: 114px 0 0;}
.about_work_contant{ text-align: center; padding-bottom: 45px;}
.about_work_title{     margin-bottom: 23px;}
.about_work_title h2{color: #484848; font-family: 'Roboto-Light'; line-height: 45px;}
.about_work_txt p{font-size: 16px; color: #666666; font-family: 'Roboto-Light';}
.work_tab ul {    text-align: center; padding-bottom: 10px;}
.work_tab ul li{}
.work_tab ul li.r-tabs-state-active a,.work_tab ul li a:hover{color: #fff; background: #03b4d7; box-shadow: 0px 3px 12px rgba(3,180,215,0.5);}
.work_tab ul li a{color: #414040; font-size: 18px; text-decoration: none; padding: 13px 22px; border-radius: 25px; display: inline-block;}
.tab_contant{ position: relative;}
.how_we_work .vc_active .vc_tta-panel-body {background: url('../images/instant_bg1.png'); background-repeat: no-repeat;  position: relative;    background-position: center bottom;      background-size: 100% auto;}
.r-tabs .r-tabs-panel{ padding: 0;}
.work_laptop {    position: absolute;    left: 0;    bottom: 30px; width: 57%;    display: block;}
.tab_contant .instant_block { padding-top: 55%;   padding-bottom: 101%;}
.r-tabs .r-tabs-tab{ margin: 0 11px;}
.about_sticky.sticky {z-index: 11; background: #fff;}



.blog_category_main{ padding-top: 60px; padding-bottom: 85px;}
.blog_category_sticky{ width: 100%;  border-bottom: 2px solid #e9e9e9;    z-index: 11;    background: #fff; }
.blog_category_sticky_left{ float: left;}
.blog_category_sticky_right{ float: right;}
.blog_category_sticky_left ul{ padding: 0; margin: 0; list-style: none; text-align: center;}
.blog_category_sticky_left ul li{ display: inline-block;    padding: 11px 0 15px; margin: 0 27px -2px;  border-bottom: 2px solid transparent; color: #8c8c8c; font-size: 24px; cursor: pointer; font-family: 'Roboto-Light';}
.blog_category_sticky_left ul li a{text-decoration: none; color: #8c8c8c;    padding-bottom: 14px;border-bottom: 2px solid transparent;}
.blog_category_sticky_left ul li.active a, .blog_category_sticky_left ul li a:hover{color: #03b4d7;border-bottom: 2px solid #03b4d7;}
.blog_category_sticky_left ul li:first-child{margin-left: 0;}
.blog_category_sticky_left ul li:hover ,.blog_category_sticky_left ul li.active { color: #03b4d7; border-bottom: 2px solid #03b4d7;}
.search_box{ position: relative; width: 224px;     margin-top: 10px; margin-bottom: 10px;}
.tftextinput1{ border: 1px solid #e4e4e4; color: #8c8c8c; font-size: 16px; font-family: 'Roboto-Light'; outline: none;     padding: 8px 40px 8px 8px;    width: 100%;    position: relative;}
input.tfbutton1 {    position: absolute;    top: 0;    right: 0;  border: 0; outline: none;  width: 40px; height: 40px;   background: url(../images/search_icon.png);    background-repeat: no-repeat;  background-position: center;}
.tftextinput1::-webkit-input-placeholder {  color: #d1d1d1;}
.tftextinput1::-moz-placeholder {  color: #d1d1d1;}
.tftextinput1:-ms-input-placeholder {   color: #d1d1d1;}
.tftextinput1:-moz-placeholder {   color: #d1d1d1;}
.blog_block{ position: relative; height:478px; margin-bottom: 25px;}
.blog_img{ position: relative;    }
.blog_textblock{ background: rgba(0,0,0,0.8);   padding: 15px;  position: absolute;    top: 0;    left: 0;    width: 278px;    height: 100%; z-index: 1;}
.blog_title h4{ color: #fff; font-family: 'Roboto-Light'; margin: 0;}
.blog_date span{ display: block; color: #b0b0b0; font-size: 16px; font-family: 'Roboto-Light';}
.blog_desc{color: #fff; margin: 0; font-size: 16px; font-family: 'Roboto-Light';     line-height: normal;    margin-bottom: 15px;}
.blog_txt {  position: absolute;    top: 0;    bottom: 0;    left: 0;    right: 0;    margin: auto;    display: table;    padding: 0 16px;}
.blog_social{}
.blog_social ul{ padding: 0; margin: 0; list-style: none;}
.blog_social ul li{ display: inline-block;     margin-right: 4px;}
.blog_social ul li a{ text-decoration: none; width: 25px; height: 25px; background: url(../images/social_icon_blog.png); display: inline-block;}
.blog_social ul li a.fb1{ background-position: 0 0;}
.blog_social ul li a.twitter1{ background-position: -31px 0;}
.blog_social ul li a.pinrent1{ background-position: -61px 0;}
.blog_title {    margin-bottom: 15px;}
.blog_title h4{ line-height: 28px;}
.blog_date {  margin-bottom: 15px;}
.blog_block a{ text-decoration: none;}
.category_btn{ display: none;}
.hover_effect_blog{ position: absolute; top: 0; display: none;}
.blog_block:hover .hover_effect_blog{ display: block;}
.hover_effect_blog {    position: absolute;    top: 0;    display: none;    width: 100%;    height: 100%;    background: url(../images/tran_bg.png);}
.hover_effect_blog_img {    bottom: 0;    right: 0;    position: absolute;}
.hover_effect_blog a {    text-decoration: none;    width: 100%;    height: 100%;    display: block;}
.blog_category_main .blog_listt:first-child{ display: block;}
.blog_category_main .blog_listt{display: none;}
.pagination {    display: inline-block;    padding-left: 0;    margin: -7px 0 0;    border-radius: 0px;  border: 0;   width: 100%;    text-align: center;}
.pagination>li {    display: inline-block;}
.pagination>li>a, .pagination>li>span{ color: #000; font-size: 18px; font-family: 'Roboto-Light'; border: 0; border-bottom: 2px solid transparent; padding: 6px 5px 3px;}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus,.pagination>li>a.active {color: #000; background-color: transparent; font-family: 'Roboto-Medium'; border-bottom: 2px solid #000;    border-radius: 0;   }




.term_service {    padding: 137px 0 85px;}
.term_service p{ font-size: 18px; color: #666666; font-family: 'Roboto-Light';    line-height: 30px;     margin-bottom: 30px; text-align: justify;}


.contact_main { padding: 115px 0 90px;}
.contact_form_title { margin-bottom: 12px;}
input.contact_block {    width: 100%; padding: 12px 23px;    border: 1px solid #d5d5d5;    border-radius: 25px;    outline: none;    margin-bottom: 15px; font-size: 18px;}
select.contact_block{ background-image: url('../images/angle_down.png'); background-repeat: no-repeat; background-position: 95% 50%;-webkit-appearance: none; width: 100%; color: #414040; padding: 12px 23px; border: 1px solid #d5d5d5; border-radius: 25px; outline: none; margin-bottom: 15px;font-size: 18px !important;}
textarea.contact_block {    width: 100%;    padding: 12px 23px;    border: 1px solid #d5d5d5;    border-radius: 25px;    outline: none;    margin-bottom: 15px; font-size: 18px; height: 148px; resize: none;} 
.submit_btn .btn_sky,.submit_btn  .btn_sky:hover,.submit_btn  .btn_sky:focus{ outline: none; border: 0; padding: 12px 22px;}
.submit_btn {    text-align: right;}
.contact_block::-webkit-input-placeholder{  color: #c7c7c7;}
.contact_block::-moz-placeholder {  color: #c7c7c7;}
.contact_block:-ms-input-placeholder{   color: #c7c7c7;}
.contact_block:-moz-placeholder {   color: #c7c7c7;}

.help_list ul{ padding: 0; margin: 0; list-style: none;     text-align: center;}
.help_list ul li {    display: inline-block;    padding: 11px 0;    margin: 0 29px -2px;    border-bottom: 2px solid transparent;    color: #8c8c8c;    font-size: 24px;    cursor: pointer;    font-family: 'Roboto-Light';}
.help_list ul li:hover, .help_list ul li.active {    color: #03b4d7;    border-bottom: 2px solid #03b4d7;}
.help_center_blockmain .help_center_block:first-child{ display: block;}
.help_center_blockmain .help_center_block{display: none;}



.help_center { }
.help_center_block {    padding: 38px 0 85px;}
.help_center .ui-accordion .ui-accordion-header {    padding: 25px 0px 0px 50px;  margin: 0;   font-size: 24px;    color: #484848; font-family: 'Roboto-Light';  background: transparent; border: 0; outline: none;}
.help_center .ui-accordion .ui-accordion-header.ui-accordion-header-active{ color: #03b4d7;}
.help_center .ui-accordion .ui-accordion-content {    padding: 16px 0px 3px 52px;    line-height: 19px;    font-size: 16px;    color: #666666;    background: transparent;  font-family: 'Roboto-Light';   border: 0;}
.help_center .ui-icon {    width: 23px;    height: 23px;    position: absolute;    left: 0;    margin-top: 0px;}
.help_center .ui-icon,.help_center .ui-widget-content .ui-icon{ background:url(../images/plus_minus_sign.png); background-position: 0px -73px;}
.help_center .ui-state-active .ui-icon,.help_center .ui-button:active .ui-icon,.help_center .ui-state-active.ui-state-focus .ui-icon {background:url(../images/plus_minus_sign.png);     background-position: 0px -51px}
.help_center .ui-accordion-header.ui-state-active:hover .ui-icon{ background:url(../images/plus_minus_sign.png);     background-position: 0px -51px}
.help_center .ui-accordion-header:hover .ui-icon,.help_center .ui-state-focus .ui-icon{ background:url(../images/plus_minus_sign.png);     background-position: 0px -73px;}

/*Login Page Css Start*/
.login .breadcum{
    background: #f0f6f6 url(../images/full_bg.png);    
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 12%;
}
.login_form{
    background-color: #fff;
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 50px 95px;
    text-align: center;
    margin-top: 60px;
}
.remember {
    text-align: left;
    float: left;
}
.remember input[type=checkbox]{
    margin: 0;
    opacity: 0;
    height: 19px;
    width: 19px;    
    display: none;
}
.remember label:before{
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    background-image: url('../images/uncheck_box.png');
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
}
.remember input[type=checkbox]:checked + label:after{
    content: '';
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 3px;
    background-image: url('../images/check.png');
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
}
.remember label {
    font-size: 16px;
    color: #666666;
    font-family: 'Roboto-Light';
    position: relative;
    padding-left: 25px;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
    line-height: normal;
    margin-bottom: 10px;
}
.login_form a {
    color: #03b4d7;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto-Light';
    float: right;
}
.sub_btn {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
.sub_btn .btn_sky , .sub_btn .btn_sky:focus {
    border: 0;
    outline: none;
    float: right;
}
.other_login {text-align: center;}
.other_login span{
    font-family: 'Roboto-Regular';
    font-size: 16px;
    text-transform: uppercase;
    color: #c7c7c7;
}
.other_login span:before{
    content: '';
    height: 2px;
    width: 150px;
    display: inline-block;
    position: relative;
    margin-right: 15px;
    background-color: #efefef;
    vertical-align: middle;
}
.other_login span:after{
    content: '';
    height: 2px;
    width: 150px;
    margin-left: 15px;
    display: inline-block;
    position: relative;
    background-color: #efefef;
    vertical-align: middle;
}
.social_login a{
    font-size: 18px;
    font-family: 'Roboto-Regular';
    color: #fff;
    margin-top: 15px;
    width: 100%;
    display: inline-block;
    padding: 7px 10px !important;
    height: 50px;
    border-radius: 30px;    
}
#login_regi_modal .social_login a{		
    padding: 11px 10px !important;		
}
a.fb_login {
    background-color: #3c66c4;  
    position: relative;
}
a.fb_login:before{
    content: '';
    background-image: url(../images/fb_login_icon.png);
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 17%;
}
a.ggl_login{
    background-color: #cf4332;   
    position: relative;
}
a.ggl_login:before{
    content: '';
    background-image: url(../images/ggl_login_icon.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 32px;
    display: inline-block;
    position: absolute;
    left: 15%;
    top: 15px;
}
.login_form p:not(:first-child) {
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 15px;
    font-family: 'Roboto-Light';
    font-size: 16px;
}
.login_form p a{
    float: none;
    width: 100%;
    display: inline-block;
}
/*Register Css Start*/
.register .other_login span:before{
    width: 45%;
}
.register .other_login span:after{
    width: 45%;
}
.register .sub_btn {
    width: auto;
    text-align: right;
    float: right;
    margin-top: 0;
}
.register .other_login { 
    width: 100%;
    display: inline-block;
}
.register a.fb_login:before{
    left: 10%;
}
.register a.ggl_login:before{
    left: 8%;
}
.register .social_login a{
    padding-left: 25px;
}
.remember label span{
    color: #03b4d7;
}
.login_form.register p a{width: auto;}
/*Register Css End*/


/*3-2-17*/
.blog_category_main.blog_details{
    padding-top: 32px;
    padding-bottom: 39px;
}
.blog_detail_desc{
    display: inline-block;
    width: 100%;
    padding-top: 25px;
}
.blog_details h2{color: #484848;padding-bottom: 22px;     font-size: 30px;}
.blog_date_category{
    float: left;
}
.blog_date_category p{
    font-family: 'Roboto-Light';   
    font-size: 16px;
    color: #b0b0b0;
    display: inline-block;
    margin: 0px;
}
.blog_date_category span{
    color : #03b4d7;
    font-family: 'Roboto-Light';   
    font-size: 16px;
    padding-left: 13px;
}
.blog_detail_desc .blog_social{
    float: right;
}
.blog_social ul li:last-child{
    margin-right: 0px;
}
.blog_details .blog_block{
    height: auto;
}
.blog_data_desc{
    display: inline-block;
    width: 100%;
}
.blog_data_desc p{
    font-family: 'Roboto-Regular';   
    font-size: 18px;
    color: #666666;
    font-weight: normal;
}
.blog_data_desc h3{
    font-family: 'Roboto-Light';
    color: #484848;
    font-weight: normal;
}
.blog_data_desc ul{
    padding: 0px;
    margin: 0px;
}
.blog_data_desc ul li{
    list-style-type: none;
    font-family: 'Roboto-Regular';   
    font-size: 18px;
    color: #666666;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
}
.blog_data_desc ul li:last-child{margin-bottom: 0px;}
.blog_data_desc ul li:before {
    content: " ";
    position: absolute;
    top: 5px;
    margin: 0px;
    left: 0;
    vertical-align: middle;
    display: inline-block;
    background-image: url(../images/list_icon.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 15px;
}
.blog_data_desc img{
    padding-top: 17px;
    padding-bottom: 26px;
}


/*Privacy Page*/
.privacy{
    color: #484848;
    font-family: 'Roboto-Light';
    padding: 111px 0px 61px;
}
.privacy h2, .privacy h3, .privacy p{
    color: #484848;
    margin-bottom: 10px !important;
}
.privacy p {
    font-size: 18px;
    line-height: 30px;
    padding-top: 5px;    
}
.privacy_page p {
    margin-bottom: 25px !important;
}
.privacy h2{
    padding-bottom: 8px;
    line-height: normal;
    text-align: center;
}
.privacy.privacy_page h2 {
    text-align: left;
}



.our_plans{ padding: 117px 0 160px;}
.our_plan_heading{ text-align: center; color: #484848;}
.our_plan_heading h2{}
.our_plan_heading p{ color: #03b4d7; font-size: 18px; font-family: 'Roboto-Light';}
.plan_box {    margin-top: 30px; }
.plan_price{background: #127fb9; color: #fff; text-align: center;      padding: 15px 0 18px;}
.plan_price .price{ font-size: 40px; font-family: 'Roboto-Light'; display: block; margin-bottom: -8px;}
.plan_price span{font-size: 18px; font-family: 'Roboto-Light'; display: block;}
.plan_details{ border: 1px solid #f4f4f4; padding: 20px 30px 24px; border-top: 0;}
.plan_details_box{ text-align: center;}
.plan_detail_txt_main{}
.plan_detail_txt{     min-height: 224px;}
.plan_detail_txt p{ font-size: 18px; color: #484848; font-family: 'Roboto-Light';margin-bottom: 15px;}
.plan_detail_txt .plan_detail_text p{ font-size: 12.5px;}
.most_popular { 
    -webkit-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.2);
    margin-top: 1px; 
    position: relative;
}
.most_popular .plan_price {    background: #fd962a;    padding-top: 35px;}
.most_popular .plan_detail_txt{min-height: 244px;}
.most_popular  .plan_details {    padding: 20px 30px 34px;}
.most_popular_ad{ 
    background: url(../images/most.png); 
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    font-family: 'Roboto-Light';
    color: #fd962a;
    line-height: 16px;
    padding: 0 17px 0 7px;
}
.plan_details_box .btn_blue{margin-top: 30px;}
.most_popular .plan_details_box .btn_blue{margin-top: 30px;}
.most_popular{
    border: 1px solid #fd962a;
}
.most_popular_ad span{ font-size: 16px; font-family: 'Roboto-Light';  color: #fd962a; line-height: 16px;    padding: 0 17px 0 7px;}
#responsiveTabsDemo .r-tabs-nav{ margin-bottom: 10px;}

.what_you_get .home_proofreader_main {    background: url(../images/patter1.png);    background-repeat: repeat;}
.what_you_get_main{ padding-top: 37px;}
.what_you_img img {   box-shadow: 30px 30px 0px rgba(0,0,0,0.2);}
.what_you_get_main_block {    padding: 80px 0 110px;    border-bottom: 1px solid #e2e2e2;}
.what_you_get_main_block:last-child { padding-bottom: 38px; border: 0;}
.what_you_content{ text-align: left; width:  360px; padding-top: 16.6%;}
.what_you_content h4{ margin-bottom: 10px;}
.what_you_content p{ font-size: 16px; color: #666666;     line-height: 24px;}
.right_side_img{ margin-left: -30px;}
.right_side_block{ margin: 0 auto;}





/* Proofer css*/


/* History Page css */
.all_page_proofer{ padding: 120px 0 80px;}
.proofer_section_title{color: #484848;}
.history_table{ display: table; color: #484848; font-family: 'Roboto-Light';     width: 100%; }
.history_row{ display: table-row; }
.history_row:first-child .history_col{ font-size: 18px;     padding: 18px 12px;}
.history_col{ display: table-cell; font-size: 16px; width: 16.66%; border-bottom: 1px solid #e9e9e9;     padding: 18px 12px 19px;}
.history_table_main {   padding-top: 30px;}
.pagination_main .pagination>.active>a,.pagination_main  .pagination>.active>span,.pagination_main  .pagination>.active>a:hover,.pagination_main  .pagination>.active>span:hover,.pagination_main  .pagination>.active>a:focus,.pagination_main  .pagination>.active>span:focus { color: #000;  background-color: #fff; border-color: #000; border-radius: 0 !important; font-family: 'Roboto-Medium';}
.pagination_main {display: inline-block;    width: 100%;    text-align: center;    margin-top: 32px;}


.privacy.notification {   padding: 120px 0 61px;}
.privacy.notification .history_row .history_col:first-child{ width: 7.5%;}
.privacy.notification .history_row .history_col:nth-child(2){ width: 26%;}
.privacy.notification .history_row .history_col:nth-child(3){ width: 25%;}
.privacy.notification .history_row .history_col:nth-child(4){ width: 26%;}
.privacy.notification .history_row .history_col:last-child{ width: 24%;}



.completed_all_test_content{ font-size: 24px; text-align: center; color: #484848; font-family: 'Roboto-Light'; margin: 18px 0 47px;}
.completed_all_test_content p{ margin: 0; line-height: 31px;}
.completed_test{ display: block; text-align: center;}


.profile_setting{}
/*.profile_setting .blog_category_sticky_left ul li{padding: 11px 0px;    margin: 0 0px -2px;}*/
.profile_setting .blog_category_sticky_left ul li a{ padding: 14px 28px;}
.Profile_setting_all{ padding: 63px 0;}
.main_profile_img{ border: 1px solid #e4e4e4; border-radius: 50%; overflow: hidden;  height: 165px; position: relative; margin-top: 4px;}
.main_profile_img img{    position: absolute;    top: 0;    bottom: 0;    margin: auto;    left: 0;    right: 0;width: 100%;height: 100%;}
.main_profile_remove{ text-align: center; padding-top: 15px;}
.red_link,.red_link:hover{ text-decoration: none; color: #ff7c7c; font-size: 18px; font-family: 'Roboto-Light';}
.field_title h4{ display: inline-block; color: #484848;}
.edit_link{ display: inline-block;}
.edit_link a.edit_pro{ display: inline-block; height: 15px; width: 15px; background: url(../images/edit_icons.png); background-repeat: no-repeat;  text-decoration: none;     margin-left: 5px;}
.edit_link a.save_pro{ display: inline-block; height: 15px; width: 15px; background: url(../images/save.png); background-repeat: no-repeat;  text-decoration: none;     margin-left: 5px;}
.edit_link a.cancel_pro{ display: inline-block; height: 15px; width: 15px; background: url(../images/cancel.png); background-repeat: no-repeat;text-decoration: none;     margin-left: 5px;}
.edit_link a:hover{background-position: 0px 0px;}
.all_fields{ padding-top: 13px; padding-bottom: 14px;}
.all_fields input[type="text"]{ width: 100%; color: #b0b0b0; font-size: 18px; background: #fff; border: 0; border-radius: 0px;border-bottom: 1px solid #d9d9d9; outline: none; font-family: 'Roboto-Regular'; padding: 11px 24px;    margin-bottom: 17px;}
/*.all_fields input{ width: 100%; color: #b0b0b0; font-size: 18px; background: #fff; border-radius: 50px; border: 1px solid #d9d9d9; outline: none; font-family: 'Roboto-Regular'; padding: 11px 24px;    margin-bottom: 17px;}*/
.main_profile_delete {    padding-top: 45px;    padding-bottom: 20px;}
.setting_checkbox {  padding-top: 15px;     padding-bottom: 28px;}
.s_checkbox {    padding-bottom: 9px;}
.setting_checkbox.last_field_checkbox {   padding-bottom: 12px;}


.basic_information .blog_category_sticky_left ul li{padding: 11px 0px;    margin: 0 0px -2px;}
.basic_information .blog_category_sticky_left ul li a{ padding: 14px 185px;}
.basic_info{padding: 60px 0;}



.proofreading_info{ padding: 60px 0;}
.proofreading_info_step{ text-align: center;}
.proofreading_info_step h4{color: #484848;    padding-bottom: 16px;}
.proofreading_info_step p{ font-size: 16px; color: #666666;     line-height: 24px;}

.collapsible_content {
    position: relative;
    top: -40px;
}
.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
    font-size: 16px;
    font-weight: normal;
    color: #484848;
    font-family: 'Roboto-Light';
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #d5d5d5;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px; 
    margin-right: 10px;
    text-align: center;
    border-radius: 3px;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: url(../images/checked.png);
    background-repeat: no-repeat;
    border:1px solid #03b4d7;
    background-position: center;
}
.first_test{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 23px 0px;
}
.first_test p{
    color: #666666;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    text-align: center;
}
.first_test a:hover, .first_test a:focus{
    text-decoration: none;
}
.first_test a{
    display: inline-block;
    margin-top: 32px;
    text-transform: capitalize;
}
.start_tests .pop_main{
    height: 249px;
}
section#section5 .fp-tableCell {
    height: auto !important;
    vertical-align: top;
}
section#section5 {
    height: auto !important;
}
a.instant_video_btn{
    position: absolute;
    top: 52.5%;
    left: 18.6%;
    margin: auto;
    z-index: 1;
    text-align: center;
		display:none;
}
.about_writesaver_video a.instant_video_btn{
    top: 35%;
    left: 42%;
}
.editor_top {
    background: #fff;
    padding: 35px 0px 0;
    position: relative;
}
.hidden_scroll {
    padding: 0 40px 0 0px;
    overflow: hidden;
}
.changeable {
    overflow: auto;
    padding-right: 70px;
    margin-left: 70px;
    text-align: left;
}
.changeable:focus {
    outline: none;
}
.editor_inner_top {
    width: 88%;
    display: block;
    position: relative;
    padding: 0 0px 20px;
    border-bottom: 1px solid #fec52c;
    margin: 0 auto 10px;
}
.privacy .editor_inner_top {
    text-align: right;
}
.editor_inner_top .delete_track {
    position: relative;
    top: auto;
    left: auto;
    float: left;
}
.editor_inner_top .used_word {
    position: relative;
    right: auto;
    padding: 0;
    display: inline-block;
    float: right;
}
.privacy .editor_inner_top .used_word {float: none;}
.progres {
    border: 1px solid #f4ccd1;
    width: 90%;
    margin: 0 auto 100px;
    overflow: hidden;
}
.progres .changeable{
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hidden_scroll.in_progress {
    padding-right: 0;
    margin: 0 auto;		
    width: 88%;
}
.progress_msg {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #fbecee;
}
.progress_msg p {
    margin: 0;
    padding: 5px;
    color: #c94556;
    font-size: 16px;
}
.proof .doc_name {
    padding-top: 80px;
    display: inline-block;
}
.timer_main {
    display: inline-block;
    width: 130px;
    text-align: right;
    float: right;
    margin-top: 80px;
    position: relative;
}
.timer_main:before{
    content: '';
    display: inline-block;    
    background-image: url('../images/timer_clock.png');
    height: 37px;
    width:36px;
    position: absolute;
    left: 10px;
    top: 4px;
}
.timer_main .place {
    color: #949494;
    font-family: 'Roboto-Light';
    font-size: 14px;
    letter-spacing: 2px;
}
.timer_main div#getting-started {
    display: inline-block;
    float: right;
    color: #000;
    font-family: 'Roboto-Regular';
    font-size: 18px;
}
.proof .main_editor {
    margin-bottom: 80px;
}
.privacy .changeable p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
    padding: 10px;
    /* display: inline-block; */
    position: relative;
}
.privacy .changeable p:hover{
    color: #aaaaaa;
}
.check p span.popup_text{
    position: absolute;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    padding: 5px;
    top: 10px;
    right: -240px;
    box-shadow: 0px 0px 2px 1px #eaeaea;
}
.check p span.popup_text:before{
    content: '';
    display: inline-block;
    position: relative;
    width: 12px;
    height: 22px;
    background-image: url('../images/pop_arrow.png'); 
    position: absolute;
    left: -12px;
}
.changeable.check {
    overflow: auto;
    margin-bottom: 10px;
}
.hidden_scroll.check {
    overflow-y: auto;
}
.hidden_scroll.check .popup_text {
    padding: 7px;
    position: absolute;
    z-index: 1;
    border: 1px solid #f1f1f1;
    box-shadow: 1px 1px 1px 1px #f1f1f1;
    right: -160px;
    border-radius: 3px;
    top: 110px;
    background-color: #fff;
}
.hidden_scroll.check span.popup_text:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 22px;
    background-image: url(../images/pop_arrow.png);
    position: absolute;
    left: -12px;
}
.wpb_content_element { margin: 0 !important;}
/*Edit On 23 Mar 2017 Start*/

.wpb_column.vc_column_container.vc_col-sm-3 {
    padding: 0 15px;
}
.container {
    width: 1170px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important
}
.our_plans .vc_column_container > .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
}
.our_plans .vc_row {
    margin-left: 0px;
    margin-right: 0px;
}
.vc_row {
    margin-left: auto !important;
    margin-right: auto !important;
}
.about_writesaver_contant h2 {
    color: #484848;
    font-family: 'Roboto-Light';
    line-height: 45px;
    margin-bottom: 32px;
}
.about_writesaver_contant p {
    font-size: 16px;
    color: #666666;
    font-family: 'Roboto-Light';
}
.about_writesaver_main .vc_row-has-fill .vc_column_container > .vc_column-inner {
    padding-top: 0;
}
.home_proofreader_display .vc_col-sm-4 {
    padding: 0 15px;
}
.login_form #signup  a{
    float: none;
}
.instant_main .wpb_video_widget.vc_video-aspect-ratio-169 .wpb_video_wrapper {
    padding-top: 61% !important;
    height: 100%;
}
/*Edit On 23 Mar 2017 End*/

/*Edit On 25 MAr 2017 Start*/
.col-md-5.wpb_column.vc_column_container.vc_col-sm-5 {
    padding: 0 15px;
}
.home_proofreader_main.why_proof {
    padding-bottom: 0;
}
.home_proofreader_display.center_block {
    padding-bottom: 0;
    text-align: center;
}
.wpb_column.vc_col-sm-12.center_block {
    text-align: center;
}
.type-wrap {
    min-height: 85px;
}
a.instant_video_btn.about {
    top: 136px;
    left: 281px;
}

/*About_page Css Start*/
.how_we_work .vc_column-inner {
    padding-top: 0 !important;
}
.vc_tta.vc_tta-style-classic.work_tab .vc_tta-tab{
    margin: 0 11px;
}
.work_tab ul li a {
    color: #414040 !important;
    font-size: 18px !important;
    text-decoration: none !important;
    padding: 13px 22px !important;
    border-radius: 25px !important;
    display: inline-block !important;
    background-color: transparent !important;
    border: 0 !important;
}
.work_tab ul .vc_active > a ,.work_tab ul li a:hover{
    color: #fff !important;
    background: #03b4d7 !important;
    box-shadow: 0px 3px 12px rgba(3,180,215,0.5) !important;
}
.how_we_work .vc_tta-container {
    margin: 0;
}
.how_we_work .instant_block {
    padding-top: 20%;
    padding-bottom: 20%;
}
.about_writesaver .vc_col-sm-7, .about_writesaver .vc_col-sm-5 {
    padding: 0 15px;
}
/*About_page Css End*/
/*proofreader dashboard page Css Start*/
.proof_dashboard_accor .vc_toggle .vc_toggle_title{
    border: 1px solid #dde2e6;
    background: #fff;
    padding: 20px 40px 20px 10px !important;
    border-radius: 0;
    font-size: 18px;
    color: #484848;
    font-family: 'Roboto-Light';
    outline: none;
    margin: 10px 0 0 0;
}
.proof_dashboard_accor .vc_toggle .vc_toggle_title h3 {
    margin: 0;
    font-size: 18px;
}
.proof_dashboard_accor .vc_toggle_content p {
    font-size: 16px;
    color: #777777;
    font-family: 'Roboto-Light';
    margin-bottom: 0;
}
.proof_dashboard_accor .vc_toggle_simple .vc_toggle_title .vc_toggle_icon{
    margin-left: 0;
    left: auto !important;
    right: 10px;
}
.proof_dashboard_accor .vc_toggle_simple .vc_toggle_icon::after{
    display: none;
}
.proof_dashboard_accor .vc_toggle_simple .vc_toggle_icon::before{
    background: url(../images/plus_minus_sign.png);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 24px;
    width: 24px;
}
.proof_dashboard_accor .vc_toggle_simple.vc_toggle_active .vc_toggle_icon::before{
    background-position: 0 -28px;
}
.proof_dashboard_accor .vc_toggle_simple .vc_toggle_title:hover .vc_toggle_icon::before, .proof_dashboard_accor .vc_toggle_simple .vc_toggle_title:hover .vc_toggle_icon::after{
    background-color: transparent !important; 
}
.proof_dashboard_accor .vc_toggle.vc_toggle_active > .vc_toggle_content {
    background: #f8f8f8;
    margin: 0;
    padding: 20px !important;
    border: 1px solid #dddddd;
}
.vc_row.wpb_row.accordion_title_main {
    padding: 0 15px;
}
/*proofreader dashboard page Css End*/
/*Register page Css Start*/
a.chg_pass.edit_pro_chg {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url(../images/edit_icons.png);
    background-repeat: no-repeat;
    text-decoration: none;
    margin-left: 5px;
}
.login_form .theChampLoginSvg{
    font-size: 16px;
    padding-top: 7px;
    text-align: center;
    padding-left: 40px;
    font-family: 'Roboto-Regular';
    background-position: 40px 0 !important;
}
.login_form.register .theChampLoginSvg{background-position: 0px 0 !important;text-align: left;}
#pass_modal .page_title {
    margin-bottom: 15px;
}
#pass_modal .pop_main {    
    height: auto;
    margin: 10% auto;
    top: auto;
    bottom: auto;

}
/*Register page Css End*/
form {
    margin: 0;
}
/*Edit On 25 MAr 2017 End*/
.about_writesaver_video.wpb_video_widget.vc_video-el-width-90 .wpb_wrapper{width: 100% !important;}
.reg_btn .vc_column-inner {
    padding-top: 0 !important;
}
.reg_btn .vc_row.vc_column-gap-25 > .vc_column_container{
    padding: 0 !important;
}
.home_proofreader_main .vc_column-inner {
    padding-top: 0 !important;
}
.blog_social ul.the_champ_sharing_ul li {
    margin: 0 3px !important;
    display: inline-block;
}
.about_faq .vc_column-inner {
    padding-top: 0 !important;
}
.home .editor_inner_top{text-align: right;}
.home .editor_inner_top .used_word{float: none;}
.user a img.img-circle {
    height: 50px;
    width: 50px;
}

.fileinput label {
    font-weight: normal;
    font-size: 18px;
    color: #ff7c7c;
    font-family: 'Roboto-Light';
    border: 1px solid #ff7c7c;
    padding: 5px 0px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 25px;
    width: 100%;
}
.text-danger{
    color: #ff0000 !important;
}
.pop_content .text-danger{
    margin-bottom: 5px;
    display: inline-block;
}
.collect .text-danger.tax_err {
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: -7px;
    left: 10px;
}
.tax_msg .text-success, .paypal_msg .text-success{
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 1px solid #3c763d;
    margin: 10px 0;
    border-radius: 25px;
    background-color: rgba(60, 118, 61, 0.43);
}
span.text-danger.pass_msg1 {
    margin-top: 10px;
}
.doc_name .contact_block{
    width: 90%;
}
.doc_name h2 a.edit_pro {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url(../images/edit_icons.png);
    background-repeat: no-repeat;
    text-decoration: none;
    margin-left: 5px;
}
.pagination span.current, .pagination>li:first-child>span,.pagination>li:last-child>span {
    border-bottom: 2px solid #000;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'Roboto-Medium';
}
.contact_main form .col-sm-4 p {
    margin-bottom: 0;
}   
/*Edit On 30 MAr 2017 End*/

.load_overlay {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 16, 16, 0.50);
    position: fixed !important;
    height: 100%;
    width: 100%;
    z-index: 10000;
}
.load_overlay img{
    position: absolute;
    z-index: 1111;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto !important;
    width:80px;
    height: 80px;
}
/*8-4-17*/
.page-template-profile_settings_proofreader .all_fields .col-sm-6, .page-template-basic_information_review .all_fields .col-sm-6 {
    position: relative;
}
.page-template-profile_settings_proofreader .all_fields .text-danger, .page-template-basic_information_review .all_fields .text-danger{
    position: absolute;
    left: 15px;
    top: 48px;
}
.page-template-basic_information .blog_listt .col-sm-6{
    position: relative;
}
.page-template-basic_information .blog_listt .text-danger{
    position: absolute;
    left: 15px;
    top: 45px;
}
.page-template-basic_information_review .proofreading_info {
    padding: 0px 0;
}
.proofreading_info_step .btn_blue{
    width: 100%;
}
.proofreading_info_step .btn_blue a{
    display: inline-block;
}
#Paypal .buttons{
    display: inline-block;
    width: 100%;
}
#Paypal .col-sm-6 span , #Paypal .col-sm-12 span {
    position: relative;
    top: -16px;
}
#Paypal .card_msg{
    display: inline-block;
    position: relative;
    top: -26px;
}
#paypal_modal .pop_content .text-danger{
    position: absolute;
    left: 15px;
    top: 52px;
}
#paypal_modal .pop_content .paypal_msg{
    display: inline-block;
    width: 100%;
    position: relative;
    top: -28px;
    left: 30px;
}
#paypal_modal .pop_content span.text-success.paypalmsg {
    display: block;
    background-color: transparent;
    border: 0px;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

/*Plan Purchase Popup Css Start*/
#purchage_plan.pop_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 111;
    overflow: auto;
}
#purchage_plan .pop_main {
    position: absolute;
    width: 700px;
    left: 0;
    right: 0;
    margin: 5% auto;
    background-color: #fff;
    padding: 15px;
    /*    max-height: 500px;
        overflow-y: auto;*/
}
.tab_tabcontent ul.nav.nav-tabs {
    text-align: center;
}
.tab_tabcontent ul li {
    float: none;
    display: inline-block;
}
.tab_tabcontent ul li a {
    border: 0px;
    margin: 0;
    border-bottom: 2px solid transparent;    
}
.tab_tabcontent .nav-tabs>li>a:hover, .tab_tabcontent .nav-tabs>li>a:focus {
    border: 0;
    margin: 0;
    background-color: transparent;
    border-bottom: 2px solid #03b4d7;
}
.tab_tabcontent .nav-tabs>li.active>a,.tab_tabcontent .nav-tabs>li.active>a:hover, .tab_tabcontent .nav-tabs>li.active>a:focus{
    border: 0;
    margin: 0;
    background-color: transparent;
    border-bottom: 2px solid #03b4d7;
}
#purchage_plan .page_title h4 {
    text-align: center;
    color: #03b4d7;
    margin-bottom: 10px;
}
.tab_tabcontent .tab-content>.active {
    padding: 20px 0;
}
.pay_login_link p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}
.pay_login_link p a {
    text-decoration: underline;
    color: #03b4d7;
}
.buttons {
    width: 100%;
    display: inline-block;
    text-align: right;
}


#purchage_plan label.contact_block {
    font-size: 18px;
    vertical-align: middle;
    min-height: 51px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    padding-top: 15px;
    padding-left: 35px;
}
#purchage_plan label.contact_block:before {
    content: '';
    display: inline-block;
    background-image: url(../images/card_img.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 38%;
    vertical-align: middle;
    width: 23px;
    height: 15px;
}
#purchage_plan .pop_head a {
    font-size: 18px;
    color: #03b4d7;
    float: right;
}
body.pop_open {
    overflow: hidden;
}
.thank-you {
    padding: 110px 0;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}
.thank-you h2 {
    font-family: 'Roboto-Medium';
    font-size: 30px;
    margin-bottom: 15px;
}
.thank_img {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}
.thank_img img {
    width: 20%;
}
.thank-you p {
    font-size: 20px;
    margin-bottom: 0;
}
.thank-you p u {
    text-decoration: none;
    border-bottom: 1px solid #00b483;
}
.purchase_plan_detail {
    text-align: center;
    margin: 15px 0 10px;
}
.purchase_plan_detail * {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: baseline;
    font-weight: bold;
    margin: 0 10px;
    font-size: 24px;
    font-family: 'Roboto-Light';
}
/*Plan Purchase Popup Css End*/
.thank_msg{
    border: 1px solid #d9d9d9;
    border-top: 5px solid #00b483;
    padding: 40px 15px 15px;
    text-align: center;
}
.thank_confirm_email{padding-top: 20px;}
.thank-you p span{font-family: 'Roboto-Medium';}
.thank_confirm_email p{color: #948d8d;    font-size: 18px;}
.fileinput input[type=file], .fileinput-new input[type=file]{display: none;}
.thank-you p a{text-decoration: none;    color: #948d8d;margin-top: 20px;    display: inline-block;}
.highlight a{text-decoration : none;color: #313131;}
span.highlight{background-color : #dcf2dc;position: relative;}
span.highlight span.toggle-open{background-color: #fff;line-height: normal;box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.28);position: absolute;display: inline-table;left: -24px;top: 29px; padding: 10px 15px;border-radius: 4px;    z-index: 11;}
span.highlight span.toggle-open:before{content: "";
                                       position: absolute;
                                       width: 0;
                                       height: 0;
                                       margin-left: -0.5em;
                                       left: 35%;
                                       top: 0px;
                                       box-sizing: border-box;
                                       border: 6px solid black;
                                       border-color: transparent transparent #fff #fff;
                                       transform-origin: 0 0;
                                       transform: rotate(-225deg);
                                       box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.28);
}
span.highlight span.toggle-open strike{
    color: #e24444;
}
span.highlight span.toggle-open span.spn-dash{
    display : inline-block;
    padding: 0px 10px;
    color: #313131;
    position: relative;
    top: 2px;
}
span.highlight span.toggle-open span.updated-word{
    padding: 0px;
    color: #428a2c;
}
.changeable{
    font-family: 'Roboto-Light';
    color: #313131;
    font-size: 18px;
    line-height: 28px;
}
.proofreaderdesc {
    background-color: #f5f5f5;
    color: #aaaaaa;
}
/*Edit on 13 Apr 2017*/

.proofreaderdesc p.desabled_gray {
    background-color: #f5f5f5;
}
/*Member ship checkout page css*/
#pmpro_level_cost p {
    display: inline-block;
    margin: 0 10px 0 0;
}
.pmpro_checkout .pmpro_thead-msg {
    float: right;
    width: 45%;
    font-size: 18px;
    color: #03b4d7;
    font-family: 'Roboto-Light';
    text-align: right;
}
.pmpro_thead-msg a{
    color: #03b4d7;
}
#pmpro_level-2 {
    font-size: 18px;
}
#pmpro_account_loggedin a {
    color: #03b4d7;
    text-transform: capitalize;
    margin-left: 10px;
}
.member_payment form.pmpro_form label{
    text-align: left;
    width: 130px;
}
.member_payment .pmpro_payment-cvv small a {
    font-size: 16px;
    color: #03b5d8;
}
.member_payment .input.pmpro_required.contact_block {
    padding: 9px 20px;
}
.pmpro_required.contact_block {
    width: 90px;
    height: 35px;
    padding: 0 20px;
    background-position: 85% 50%;
}
table.pmpro_checkout tbody td {
    padding: 0 10px;
}
.member_payment table.pmpro_checkout tbody td abbr {
    text-decoration: none;
    border: 0;
}
input.pmpro_btn.pmpro_btn-submit-checkout.btn_sky {
    border: 0;
    color: #fff;
    background: #03b4d7;
    font-size: 16px;
    box-shadow: 0px 3px 12px rgba(3,180,215,0.5);
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}
.pmpro_payment-cvv .input.contact_block {
    padding: 5px 10px;
}
.member_payment form.pmpro_form .pmpro_submit {
    margin-left: 0;
    float: left;
    position: relative;
}
.pmpro_submit span#pmpro_processing_message {

    left: 200px;
}
.member_payment .pmpro_checkout h2 {
    font-size: 34px;
    color: #03b4d7;
    font-family: 'Roboto-Medium';
    margin-top: 30px;
}
.member_payment span.pmpro_thead-name {
    font-size: 24px;
    color: #03b4d7;
    font-family: 'Roboto-Light';
}
.member_payment .pmpro_form strong {
    color: #03b4d7;
    font-family: 'Roboto-Light';
}
/*Member ship checkout page css End*/
/*Edit on 13 Apr 2017 End*/

/*Edit on 18 Apr 2017 Start*/
.edu_info {
    width: 100%;
    display: inline-block;
    position: relative;
}
.del_edu {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
.del_edu i {
    font-size: 22px;
    color: #000;
}
.add_edu, .add_edu:hover, .add_edu:focus {
    width: 90px;
    display: inline-block;
    padding: 9px 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    background-color: #03b4d7;
    text-decoration: none;
}
.page-template-profile_settings_proofreader .all_fields .edu_info .text-danger {
    position: relative;
    top: auto;
    left: auto;
    padding-bottom: 5px;
    display: inline-block;
}
.page-template-basic_information .blog_listt .edu_info .text-danger{
    position: relative;
    top: auto;
    left: auto;
    padding-bottom: 5px;
    display: inline-block;
}
.msg {
    width: 100%;
    display: inline-block;
}
.delete {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.delete i{
    font-size: 20px;
    color: #000;
}
.job_history {
    width: 100%;
    display: inline-block;
    position: relative;
}
.add_new, .add_new:hover, .add_new:focus {
    width: 100px;
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #03b4d7;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
}
.job_table .fileinput label{
    width: auto;
    padding: 5px 20px;
    margin-bottom: 10px;
}
.resume_div a {
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
}
.resume_div a.remove_resume{
    background-color: #03b4d7;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px 5px 30px;
    position: relative;
}
.resume_div a.remove_resume i {
    position: absolute;
    left: 9px;
    top: 7px;
}
.resume_div{
    display: inline-block;width: 100%;
}

/*Edit on 18 Apr 2017 End*/

.basic_info .blog_listt #job_detail .fileinput.fileinput-new label{
    width: auto;
    padding: 5px 20px;
    margin-bottom: 10px;
}
a.del_job.new_job.delete {
    margin-top: 10px;
}
.add_job, .add_job:hover, .add_job:focus {
    width: 90px;
    display: inline-block;
    padding: 9px 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    background-color: #03b4d7;
    text-decoration: none;
}
.page-template-basic_information .blog_listt #job_detail .text-danger.job_err {
    position: relative;
    top: -15px;
    left: auto;
    padding-bottom: 5px;
    display: inline-block;
}
.help_center .wrapper-sticky{position: relative;}

.changeable[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
}
.changeable[placeholder]:empty:before {
    content: attr(placeholder);
    display: block;
}
.changeable[placeholder]:empty:focus:before, .changeable[contenteditable=true]:empty:focus:before {
    content: "";
}
.page-template-basic_information_review .all_fields .pic_msg .text-danger {
    position: relative;
    top: auto;
    left: auto;
}
.hidden_scroll.check {
    overflow-y: hidden; 
    overflow: hidden;
}
.hidden_scroll{
    overflow: hidden;
    margin: 0 67px 0 0px;
    padding: 0px;
}
.parentscrollcontents{
    overflow-y: auto;
    margin-bottom: 10px;
    text-align: left;
}
.changeable {
    padding: 0 67px 0 10px;
    white-space: normal !important;
    position: relative;
}
.parentscrollcontents::-webkit-scrollbar {
    display: none;
}
/*Test File upload button*/

span.btn-file {
    font-weight: normal;
    font-size: 18px;
    color: #ff7c7c;
    font-family: 'Roboto-Light';
    border: 1px solid #ff7c7c;
    padding: 5px 20px;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 25px !important;
    width: auto;
}
span.btn-file:hover,span.btn-file:focus,span.btn-file:active{
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: #ff7c7c;
    border: 1px solid #ff7c7c;
}
.fileinput .btn-file input[type="file"] {
    display: block;
}
.fileinput-new .pic_msg span.text-danger {
    position: relative;    
    top: 4px !important;
    left: 0;
}
span.spn_doc_error {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgba(3, 180, 215, 0.68);
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    text-align: center;
}
.doc_msg {
    text-align: center;
}
div#TB_ajaxContent {
    width: 100% !important;
    height: auto !important;
    display: inline-block !important;
    position: relative !important;
}
div#TB_window {
    width: 500px !important;
    padding: 15px 15px;
}
.plugin_pop{
    font-family: 'Roboto-Light';
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
.tb-close-icon:before{
    font-size: 26px !important;
}
span.screen-reader-text {
    display: none !important;
}
div#TB_ajaxWindowTitle {
    font-family: 'Roboto-Light' !important;
    font-size: 20px !important;
    text-transform: capitalize !important;
}
#TB_ajaxContent strong {
    font-family: 'Roboto-Light' !important;
    font-size: 20px;
    line-height: 25px;
}
#TB_title{
    background: transparent !important;
}
.fileinput-filename{word-break: break-word;}
#navbar ul li a:focus,#navbar ul li a:active{
    outline: none;
}

/***********404 page**********/
.not_found {
    text-align: center;
    padding: 50px 0;
}
.error_404_page img{
    margin: 0 auto;
}   
.error_404_page h1{
    text-transform: uppercase;
    color: #04aadc;
    font-size: 168.92px;
    margin-bottom: 3px;
}
.error_404_page p {

    font-size: 44.08px;
    color: #666766;
    line-height: 33px;
    padding-bottom: 12px;
}
.error_404_page span {
    font-size: 18px;
    color: #9a9a9a;
    padding-bottom: 27px;
    display: block;
}



/*Full Page Css*/
.section {height: auto !important;}
.section .fp-tableCell {height: 100% !important;}
.home .header.fixed {position: fixed;}
.top_section_main {background-size: 100% 100%;}
.instant_block {padding-top: 64%;}
.home_proofreader .fp-tableCell {vertical-align: middle;}
.highlight_main {margin-bottom: -8px;}

/*Edit on 6 May 2017 Start*/

#signup span.text-danger, #signin span.text-danger {
    position: relative;
    top: -10px;
    left: 10px;
}

/*Edit on 6 May 2017 End*/

/*Added for blinking 25-May-2017 */
b.testcursorsample {
    background: red;
    font-weight: normal;
    width: 1px;
    display: inline-block;
    cursor: progress;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
b.testcursorsampleblue {
    background: blue;
    font-weight: normal;
    width: 1px;
    display: inline-block;
    cursor: progress;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
b.testcursorsamplegreen {
    background: green;
    font-weight: normal;
    width: 1px;
    display: inline-block;
    cursor: progress;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
b.testcursorsamplegreenyellow {
    background: greenyellow;
    font-weight: normal;
    width: 1px;
    display: inline-block;
    cursor: progress;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
b.testcursorsampleorange {
    background: orange;
    font-weight: normal;
    width: 1px;
    display: inline-block;
    cursor: progress;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
/*end */


.track_result span.del {
    text-decoration: line-through;
    color: #e35d5d;
    background: #fadad7;
}
.track_result span.ins {
    background: #d6f0d7;
    color: #406619;
    text-decoration: none;
}

/*Edit on 30 May 2017 Start*/
/*.track_result span.del{display: none;}*/
.hover_eff {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px #ddd;
}
.hover_eff:before{
    content: '';
    display: inline-block;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -9px;
    left: 10px;
    z-index: 1;
}
.hover_eff:after{
    content: '';
    display: inline-block;
    position: absolute;
    border-bottom: 10px solid rgba(221, 221, 221, 0.72);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -10px;
    left: 10px;
}
.track_result .hover_eff del.delete_word{ color: #e35d5d;  text-decoration: none; }
.track_result .hover_eff del.old_word{ color: #e35d5d; }
.track_result .hover_eff ins{ text-decoration: none; }
.track_result .hover_eff ins.old_word{ color: #709f63;}
.track_result .hover_eff ins.new_word{ color: #7488d2; }
.track_result .hover_eff .diff{
    background-color: transparent;
    margin: 0 5px;
    display: inline;
}
/*Edit on 30 May 2017 End*/
#myModal1 .pop_main{
    margin: auto;
    top: 0;
    bottom: 0!important;
    height: 100%;
}
#paypal_modal .buttons{text-align: center;}
a#id_payment_option {display: table;margin: 0px auto;}
#payment_option_modal .pop_body {
    width: 750px;
    margin: auto;
    padding: 20px 50px 0px 50px;
    max-height: 100%; 
    overflow-y: auto;
}
#login_regi_modal .theChampGoogleLoginSvg,#login_regi_modal .theChampFacebookLoginSvg{
    padding: 0px 40px;
}
#login_regi_modal .pop_main{
    height: 80%;
    overflow: auto;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    color: #000;
}
.nav-tabs>li>a{
    font-family: 'Roboto-Light';
    font-size: 16px;
    color: #555;
}
.nav>li>a:hover, .nav>li>a:focus{
    background-color: transparent;
}
#login_regi_modal #signup span.text-danger,#login_regi_modal #signin span.text-danger {
    position: relative;
    top: -7px;
    left: 10px;
}
#login_regi_modal .pop_content .text-danger{
    display: block;
}
#login_regi_modal .col-md-offset-3{
    margin-left: 15%;
}
#login_regi_modal .col-md-offset-3.col-sm-6{
    width: 70%;
}
#login_regi_modal .pop_head i{right: 0;}
#login_regi_modal a.forgot_pass{float: right;}
#login_regi_modal .nav-tabs>li{width: 50%;}
form#ckout {display: none; }
.monthly_plan p.off_text{
    color:#fd962a; 
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #d9d9d9;
    margin-bottom: 0px;
    font-size: 20px !important;
    font-weight: bolder;
}

.one_time .plan_box{
    margin: 0px;
}
.one_time .plan_details{
    background-color: #f6f8fa;
    padding: 30px 33px 80px;
}
.one_time .plan_detail_txt p{
    border: none;
    padding-bottom: 0px;
    margin-bottom: 135px;
}
.one_time .plan_detail_txt span{
    font-size: 18px;
    color: #127fb9;
    font-family: 'Roboto-Light';
}
.one_time {
    text-align: center;
}
.one_time input#hdntotalwords{
    font-size: 18px;
    color: #484848;
    font-family: 'Roboto-Regular';
    border: 1px solid #d5d5d5;
    border-radius: 50px;
    background-color: #fff;
    display: block;
    width: 220px;
    height: 50px;
    margin: 20px auto 0px;
    outline: none;
    padding: 0px 20px;
}
#enter_word a{
    font-family: 'Roboto-Regular';
    color: #fff;
    font-size: 16px;
    display: inline-block;
    background-color: #fd962a;
    border-radius: 50px;
    padding: 11px 20px 10px;
    text-decoration: none;
    -webkit-box-shadow: 0px 5px 18px 0px rgba(255,211,164,1);
    -moz-box-shadow: 0px 5px 18px 0px rgba(255,211,164,1);
    box-shadow: 0px 5px 18px 0px rgba(255,211,164,1);
    margin-bottom: 50px;
    margin-top: 20px;
}
span#dis_price{
    font-size: 40px;
    color: #127fb9;
    display: block;
    margin-bottom: 60px;
}
.one_time .plan_detail_txt span.text-danger{
    display: block;
    position: relative;
    font-size: 14px;
}
.one_time .plan_price span{
    font-size: 34px;
    font-family: 'Roboto-Light';
    font-weight: lighter;
}
.monthly_plan .long_term_plan span{
    font-size: 34px;
    font-family: 'Roboto-Light';
    font-weight: lighter;
    color: #fff;
}
.monthly_plan .long_term_plan{
    background-color: #fd962a;
    text-align: center;
    padding: 15px 0 18px;
}
.monthly_plan .plan_flexslider{
    border: 1px solid #f4f4f4;
    padding: 30px 30px;
    position: relative;
}
.monthly_plan .flex-direction-nav a:before{
    font-size: 0px;
    content: '';
    height: 40px;
    width: 23px;
    background-image: url(../images/plan_slide_arrow.png);
}
.monthly_plan .flex-direction-nav a.flex-next{right: 10px;}
.monthly_plan .flex-direction-nav a.flex-next:before{
    background-position: 23px 0px;
}
.monthly_plan .flex-direction-nav a.flex-prev{left: 10px;}
.flex-direction-nav a{
    height: 40px;
    width: 23px;
    opacity: 0.5;
}
.flex-direction-nav a:hover{
    opacity: 1;
}
.plan_flexslider ul.slides{
    margin: 0px!important;
    display: inline-block!important;
}
.words_per_month span{
    color: #127fb9;
    font-size: 40px;
}
p.words_per_month{
    color: #127fb9;
    margin-bottom: 0px;
}
.plan_text{
    padding-top: 20px;
}
.plan_text p{
    color: #484848;
    font-size: 16px;
    font-family: 'Roboto-Light';
}
.plan_detail_text {
    min-height: 265px;
}
li.odd .plan_details_box .btn_blue {
    margin: 20px 0 10px 0;
}
/**
* Evne, DM
* This prepend logic can be done via CSS.
* ref. /wp-content/themes/writesaver/js/custom.js:405
* TODO: ref. #7227 HTML Showing in Track Changes
*/
.track_result difftag.diff.ins,
.track_result difftag.diff.del{
    font-family: inherit;
    display: inline !important;
}
.track_result difftag.diff.ins{
    background-color: #d6f0d7;
}
.track_result difftag.diff.del{
    background-color: #fadad7;
}
.track_result difftag.diff.ins,
.track_result difftag.diff.del{
    position: relative;
    display: initial;
}
.track_result difftag.diff.ins:hover:before,
.track_result difftag.diff.del:hover:before{
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    border-bottom: 10px solid #d6f0d7;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 0;
    z-index: 2;
    bottom: -10px;
}
.track_result difftag.diff.ins:hover:before{
    border-bottom: 10px solid #d6f0d7;
}
.track_result difftag.diff.del:hover:before{
    border-bottom: 10px solid #fadad7;
}
.track_result difftag.diff.ins:hover:after,
.track_result difftag.diff.del:hover:after{
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px #ddd;
    text-align: center;
    width: 125px;
    transform: translateY(100%);
    bottom: -10px;
    left: -10px;
}
.track_result difftag.diff.ins:hover:after{
    content:"New Word";
}
.track_result difftag.diff.del:hover:after{
    content:"Delete Word";
}
.double_desc p, .track_result p{
    padding: 0 !important;
}

label.cloud_file.download-icon:after{
    background-image: url(https://staging.writesaver.co/wp-content/themes/writesaver/images/cloud_download_icon.png);
}